@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 禁用所有滚动条 */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  html, body {
    /* overflow: hidden; */
  }
}

/* 可在此追加自定义层扩展
@layer components {
  .btn {
    @apply px-4 py-2 rounded bg-blue-600 text-white;
  }
}
*/
